body {
    background-color:rgb(250, 225, 2);

}
aside {
    width: 50%;
    margin-left: 25px;
    margin-right: 25px;
}
#berat-ideal {
    font-family:Verdana;
    text-align:justify;

}
main {
    display: flex;
}
.form_data_diri {
    width: auto;
    height: 300px;
    background-color: darkgray;
    padding: 10px;
}
.hasil {
    background-color: rgb(235, 18, 18);
    width: auto;
    height: 500px;
    
   }
#comment {
    text-align: center;
    top: 300px;
    bottom: 300px;
    
    
}
#resultBMI {
    text-align: center;
    top: 300px;
    bottom: 300px;    
    
}
#statusBb {
    text-align: center;
    top: 300px;
    bottom: 300px;
}
